@section Title{
	Registrace byla úspěšná
}

@{
    Layout = "~/Views/Shared/_LayoutAll.cshtml";
}


<h1>Registrace byla úspěšná</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <p>Registrace byla úspěšná</p>
        <br />
        <p>Pokračujte prosím přihlášením tlačítkem výše</p>
    </div>
</div>

