@model sem_prace_janousek_mandik.Models.Zakaznici_Adresy

@section Title{
	Registrace zákazníci
}

@{
    Layout = "~/Views/Shared/_LayoutAll.cshtml";
}


<h1>Registrace do systému</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <p>@ViewBag.ErrorInfo</p>
        <form asp-action="RegisterCustomer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Zakaznici.Jmeno" class="control-label"></label>
                <input asp-for="Zakaznici.Jmeno" class="form-control" />
                <span asp-validation-for="Zakaznici.Jmeno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zakaznici.Prijmeni" class="control-label"></label>
                <input asp-for="Zakaznici.Prijmeni" class="form-control" />
                <span asp-validation-for="Zakaznici.Prijmeni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zakaznici.Telefon" class="control-label"></label>
                <input asp-for="Zakaznici.Telefon" class="form-control" />
                <span asp-validation-for="Zakaznici.Telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zakaznici.Email" class="control-label"></label>
                <input asp-for="Zakaznici.Email" class="form-control" />
                <span asp-validation-for="Zakaznici.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zakaznici.Heslo" class="control-label"></label>
                <input asp-for="Zakaznici.Heslo" class="form-control" />
                <span asp-validation-for="Zakaznici.Heslo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zakaznici.HesloZnova" class="control-label"></label>
                <input asp-for="Zakaznici.HesloZnova" class="form-control" />
                <span asp-validation-for="Zakaznici.HesloZnova" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresy.Ulice" class="control-label"></label>
                <input asp-for="Adresy.Ulice" class="form-control" />
                <span asp-validation-for="Adresy.Ulice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresy.Mesto" class="control-label"></label>
                <input asp-for="Adresy.Mesto" class="form-control" />
                <span asp-validation-for="Adresy.Mesto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresy.Okres" class="control-label"></label>
                <input asp-for="Adresy.Okres" class="form-control" />
                <span asp-validation-for="Adresy.Okres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresy.Zeme" class="control-label"></label>
                <input asp-for="Adresy.Zeme" class="form-control" />
                <span asp-validation-for="Adresy.Zeme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresy.Psc" class="control-label"></label>
                <input asp-for="Adresy.Psc" class="form-control" />
                <span asp-validation-for="Adresy.Psc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Registrovat se" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Zpet na hlavni stranku</a>
</div>


