@section Title{
	Registrace byla úspěšná
}

@{
    Layout = "~/Views/Shared/_LayoutAll.cshtml";
}


<h1>Registrace byla úspěšná</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <p>Registrace byla úspěšná</p>
        <p>Pokračujte prosím přihlášením</p>
        <div>
            <a asp-controller="Login" asp-action="LoginCustomer">Přihlášení pro zákazníky</a>
        </div>
    </div>
</div>

<div>
    <a asp-controller="Home" asp-action="Index">Zpet na hlavni stranku</a>
</div>


