@section Title{
	Hlavní stránka
}

@{
	Layout = "~/Views/Shared/_LayoutAll.cshtml";
}

<div class="text-center">
	<h3>Vítejte ve skladu!</h3>
	<br />
	<h4>Pro další kroky využijte menu výše</h4>
	<br />

	@if (ViewBag.Role == null)
	{
		<p>Uživatel nepřihlášen</p>
	}
	else
	{
		<p>Email uživatele: @ViewBag.Email</p>
		<p>Úroveň oprávnění: @ViewBag.Role</p>
	}

</div>
