@section Title{
	Registrace byla úspěšná
}

@{
	Layout = "~/Views/Shared/_LayoutAll.cshtml";
}

<div class="text-center">
	<h1>Registrace byla úspěšná</h1>
</div>

<hr />
<div class="list">
	<div>
		<p>Registrace byla úspěšná</p>
		<br />
		<p>Pokračujte prosím přihlášením tlačítkem výše</p>
	</div>
</div>

